<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
      <div class="home-info">

        <h4>Saturday</h4>
        <h4>February 2, 2019</h4>
        <hr>
        <p>Ceremony Begins At 4:00PM</p>
        <p>Dinner & Dancing To Follow</p>

        <p>Cocktail Attire Requested</p>
        <hr>
        <p>
          <a class="click-here" target="_blank" rel="noopener noreferrer" href="https://www.thecarriagehousehouston.com/">The Carriage House</a>
          <a 
            href="https://www.google.com/maps/place/The+Carriage+House+Houston/@30.3319536,-95.5470602,17z/data=!4m5!3m4!1s0x86473cbb62145a91:0xd7c9d296b164874!8m2!3d30.3319757!4d-95.5448514"
            target="_blank" rel="noopener noreferrer" 
          >
            <br>
            3845 Sapp Rd.
            <br>
            Conroe, TX 77304
          </a>
        </p>

        <hr>

        <h5>Travel</h5>
        <p class='travel-info'>
          We have a group rate at <strong>Homewood Suites by Hilton</strong> from <strong>Friday, February 1st</strong> to <strong>Sunday, February 3rd</strong>.
        </p>
        <p class='travel-info'>
          <a class="click-here" target="_blank" rel="noopener noreferrer" href="https://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CXOHWHW-ALW-20190201/index.jhtml?WT.mc_id=POG">
            Click here
          </a> to reserve under our wedding block.
        </p>
        <p class='travel-info'>
          There are also AirBnB options available in the nearby Conroe and Woodlands area.
        </p>
        <p class='travel-info'>
          For our out of town guests, <strong>George Bush Intercontinental Airport (IAH)</strong> is about 30 minutes away. <strong>William P. Hobby (HOU)</strong> is about 50 minutes away.
        </p>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="/assets/home.jpg">
    </div>
  </div>
</main>
