<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <div class="logo-container">
        <img alt="logo" class="logo" src="/assets/logo.png">
      </div>

      <h3>Date and Time</h3>
      <p>Saturday, February 2, 2019 at 4:15pm</p>
      <p>Cocktail hour and reception to follow after the cermony.</p>

      <h3>Location</h3>
      <p>
        <a href="https://www.thecarriagehousehouston.com/">The Carriage House</a>
        <br>
        3845 Sapp Rd.
        <br>
        Conroe, TX 77304
      </p>

      <h3>Dress Code</h3>
      <p>Semi-formal or Cocktail Attire</p>

      <h3>Housing</h3>
      <p>
        We have a group rate at Homewood Suites by Hilton from 2/1 - 2/3.
        <a target="_blank" rel="noopener noreferrer" href="https://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CXOHWHW-ALW-20190201/index.jhtml?WT.mc_id=POG">
          Click here
        </a> to reserve under our wedding block.
      </p>
      <p>
        There are also AirBnB options available in the nearby Conroe and Woodlands area.
      </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="/assets/home.jpg">
    </div>
  </div>
</main>
