
  <!-- Add your content of header -->
  <%= render "/nav" %>
  <main class="" id="main-collapse">

    <div class="hero-full-wrapper">
      <div class="grid">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>

        <div class="grid-item">
          <a href="/assets/01.jpg">
            <img class="img-responsive" alt="" src="/assets/01.jpg">
          </a>
        </div>


        <div class="grid-item">
          <a href="/assets/02.jpg">
            <img class="img-responsive" alt="" src="/assets/02.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/03.jpg">
            <img class="img-responsive" alt="" src="/assets/03.jpg">
          </a>
        </div>
        <div class="grid-item">
          <a href="/assets/04.jpg">
            <img class="img-responsive" alt="" src="/assets/04.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/05.jpg">
            <img class="img-responsive" alt="" src="/assets/05.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/06.jpg">
            <img class="img-responsive" alt="" src="/assets/06.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/07.jpg">
            <img class="img-responsive" alt="" src="/assets/07.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/08.jpg">
            <img class="img-responsive" alt="" src="/assets/08.jpg">
          </a>
        </div>

        <div class="grid-item">
          <a href="/assets/09.jpg">
            <img class="img-responsive" alt="" src="/assets/09.jpg">
          </a>
        </div>

      </div>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        masonryBuild();
      });
    </script>

  </main>
