<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
      <div class="home-info">
        <h4>Gifts</h4>
        <p class='travel-info'>
          We are incredibly blessed and grateful beyond measure to spend our wedding day with you, so your presence is truly enough of a gift for us.
        </p>
        <p class='travel-info'>
          If you would like to give a further gift, because the length of time we will be spending in the Bay Area is still uncertain, we would be grateful for any monetary contributions towards our future life and home together.
        </p>
        <hr>
        <h4>Registry</h4>
        <p class='travel-info'>
          And for those who would prefer a more traditional gift, we’ve also registered a small list of items on Zola that will contribute to our future of cooking, cleaning, and dog-parenthood.
        </p>
        <div class="zola-registry">
          <a class="zola-registry-embed" href="https://www.zola.com/registry/ingridandjoshua" data-registry-key="ingridandjoshua">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="/assets/home.jpg">
    </div>
  </div>
</main>
