<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
      <div class="home-info">
        <h4>Gifts</h4>
        <p class='travel-info'>
          Hi all! Thank you so much for being a part of our lives! We've registered a small list of items below - three of which allow you to contribute however much you wish. If these gifts do not appeal to your gifting tastes, we would be grateful for any monetary contributions towards our future life and home together. This is because the length of time we will be spending in the Bay Area is still uncertain, and the capacity of items we will be able to relocate is not large. We are so thankful for you!
        </p>
        <hr>
        <div class="zola-registry">
          <a class="zola-registry-embed" href="https://www.zola.com/registry/ingridandjoshua" data-registry-key="ingridandjoshua">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive gift-pic" alt="" src="/assets/gift-top.jpg">
      <img class="img-responsive gift-pic" alt="" src="/assets/gift-bottom.jpg">
      <div class="photo-credit">
        Photos by <a target="_blank" rel="noopener noreferrer" href="http://www.centurytreeproductions.com/">Century Tree Productions</a>
      </div>
    </div>
  </div>
</main>
