<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
      <div class="stories">
        <div class="story">
          <h5>Her Story</h5>
          <p>
            How we met was a story of a first impression soiled by a bad mood, a trip to Ken's Donuts enhanced by a bottle of whole milk, and a random walk down Martin Luther King Jr. Blvd. Our friendship grew over two continents, through sad book recommendations and sporadic, poorly-connected conversations, as I lived out, vicariously, a journey through Europe over the 0's and 1's of Facebook messenger.
          </p>
          <p>
            Our 5000-mile friendship would prove to be good practice for what would become 3.5 years of a long distance relationship. In the summer of 2013, when Joshua and I began dating, he was off to Fort Worth to begin his first year of adulthood, and I was a rising junior in college, struggling to figure out my place in society (so dramatic, I know, but so true). Our story, spanning two years and two continents, and then two cities, would then grow to span two states in 2015, when Joshua moved to California for graduate school.
          </p>
          <p>
            People that know us well know that Joshua and I are polar opposites in many ways, and these differences manifested in the highs and, especially, the lows of our relationship throughout the 5.5 years we've been together. Over the years, we've both grown so much in understanding and love for each other, with the help of (remarkable) patience on both ends and, significantly, love, support, and prayers of our best friends.
          </p>
          <p>
            I could say more, but just watch how Joshua made me say yes*, and you'll see (just a glimpse of) the laughter, the tears, the music, the pups, the friends, and, most importantly, the ever-growing love that brought us to where we are today...and will bring us to and through our next chapter of life together!!! It's crazy to think that the boy I danced to Gangnam Style with outside of Chick-Fil-A at age 19 is now the man I am marrying in just a couple of months!!!
          </p>
          <p class="footnote">
            *shouts out to and shameless plug for the amazing <a target="_blank" rel="noopener noreferrer" href="https://www.gentlycraftedfilms.com/">Gently Crafted Films</a>! For more of my story - both "how we met" and "the proposal" - and a plethora of super cute pictures taken by Amanda and Ezra Gentle, check out <a target="_blank" rel="noopener noreferrer" href="https://howheasked.com/ingrid-and-joshua/">this link</a>!
          </p>
          <p>
            
          </p>
        </div>
        <hr>
        <div class="story">
          <h5>His Story</h5>
          <p>
            My first impressions of Ingrid when we first met in 2011 were not good ones. She was overly bubbly and loud, and I think she accidentally threw a football into a nearby pond.
          </p>
          <p>
            To this day, she’s still overly bubbly, loud, and somewhat clumsy. But, in the last 5.5 years, I’ve also come to fully understand just how lucky and blessed I am to be with a passionate, deeply caring, and overall wonderful human being like Ingrid.
          </p>
          <p>
            Ingrid and I got to know each other better during the summer of 2013. During that time, I was drawn to her genuine warmth and her “down for whatever” spontaneity. I started to <i>like</i> like her, but also knew that the chances of anything beyond friendship was slim because I was about to move to Fort Worth to teach, while she still had 2 more years of school left in Austin.
          </p>
          <p>
            Towards the end of that summer though, we decided to give long-distance relationship a shot. On July 6th of 2013, we shot fireworks together, and I asked Ingrid to be my girlfriend.
          </p>
          <p>
            Since that moment, so much has changed: we’ve lived in multiple different cities, raised several puppies together, changed careers, and both grown and changed in many ways. Through it all,  Ingrid has been the one constant. 
          </p>
          <p>
            She’s been a constant thorn in my side who knows just how to perfectly irritate me with her affinity for Naruto running, her obnoxious cackling, and her uncanny ability to come up with horrifyingly embarrassing cutesy nicknames for me. She’s also been a constant source of joy, strength, and love, especially through some of my darkest and loneliest times.
          </p>
          <p>
            And so, earlier this year, I bought a ring, accidentally texted a picture of it to her, waited for 2 months in hopes that the memory of me accidentally texting her a picture of her engagement ring might somewhat fade away from her mind, and then finally asked her to be my wife. Wahoo!
          </p>
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/272135329" class="proposal" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>
</main>
