<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
      <div class="stories">
        <div class="story">
          <h5>Her Story</h5>
          <p>
            Coming soon!
          </p>
        </div>
        <hr>
        <div class="story">
          <h5>His Story</h5>
          <p>
            Coming soon!
          </p>
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe src="https://player.vimeo.com/video/272135329" class="proposal" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>
  </div>
</main>
