  <%= render "/nav" %>
  <main class="" id="main-collapse">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer">
          <h2>RSVP</h2>
        </div>
        <div class="section-container-spacer">
          <div>Thanks for submitting your RSVP!</div>
        </div>
      </div>
    </div>
  </main>

