  <%= render "/nav" %>
  <main class="" id="main-collapse">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer">
          <h2>RSVP</h2>
        </div>
        <div class="section-container-spacer">
          <div class="template-example">
            <h2 class="template-title-example">Josh</h2>
            <div class="form-group">
              <input type="radio" id="attending" value="option1" name="attendance">
              <label for="attending"> Attending</label>
            </div>
            <div class="form-group">
              <input type="radio" id="regrets" value="option2" name="attendance">
              <label for="regrets"> Regrets</label>
            </div>


            <div class="form-group">
              <label for="exampleInputEmail1">Any Dietary Restrictions?</label>
              <input type="text" class="form-control" id="dietary-restrictions" placeholder="Dietary Restrictions">
            </div>
          </div>
          <div class="template-example">
            <h2 class="template-title-example">Josh</h2>
            <div class="form-group">
              <input type="radio" id="attending" value="option1" name="attendance">
              <label for="attending"> Attending</label>
            </div>
            <div class="form-group">
              <input type="radio" id="regrets" value="option2" name="attendance">
              <label for="regrets"> Regrets</label>
            </div>


            <div class="form-group">
              <label for="exampleInputEmail1">Any Dietary Restrictions?</label>
              <input type="text" class="form-control" id="dietary-restrictions" placeholder="Dietary Restrictions">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
