
  <!-- Add your content of header -->
  <header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./index.html" class="navbar-brand">Ingrid and Josh</a>
    </div>

    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            Ingrid and Josh
          </a>
          <p>#becomIngaLing</p>
        </div>
        <ul class="nav">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About</a></li>
          <li><a href="./services.html" title="">Services</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="./components.html" title="">Components</a></li>

        </ul>
      </div>
    </nav>
  </header>
  <main class="" id="main-collapse">

    <!-- Add your site or app content here -->

    <div class="hero-full-wrapper">
      <div class="grid">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>

        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-12.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>


        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-05.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>

        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-13.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>
        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-04.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>

        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-07.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>

        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-11.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>

        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-10.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>
        <div class="grid-item">
          <img class="img-responsive" alt="" src="/assets/img-03.jpg">
          <a href="./project.html" class="project-description">
            <div class="project-text-holder">
              <div class="project-text-inner">
                <h3>Vivamus vestibulum</h3>
                <p>Discover more</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        masonryBuild();
      });
    </script>

  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      navActivePage();
    });
  </script>
