.logo {
  width: 350px;
  height: 175px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.search-error {
  margin-top: 20px;
}

.radio-label:hover {
  cursor: pointer;
}

.home-container {
  text-align: justify;
}
