.logo {
  width: 300px;
  height: 80px;
}

@media (min-width: 768px) {
  .logo {
    width: 350px;
    height: 115px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.search-error {
  margin-top: 20px;
}

.radio-label:hover {
  cursor: pointer;
}

.home-container {
  text-align: justify;
}

.home-info {
  text-align: center;
  margin-bottom: 30px;
}

.travel-info {
  width: 80%;
  margin: 0 auto;
}

.click-here {
  text-decoration: underline;
}
