.logo {
  width: 140px;
  height: 70px;
}

.logo-mobile {
  width: 90px;
  height: 45px;
}

.search-error {
  margin-top: 20px;
}

.radio-label:hover {
  cursor: pointer;
}

.home-header-container {
  margin-bottom: 50px;
}

.home-header {
  margin-bottom: 10px;
}
