  <header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./index.html" class="navbar-brand">
        <img alt="logo" class="logo-mobile" src="/assets/logo.png">
      </a>
    </div>

    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img alt="logo" class="logo" src="/assets/logo.png">
          </a>
        </div>
        <ul class="nav">
          <li><a href="/" title="">Home</a></li>
          <li><a href="./about.html" title="">About</a></li>
          <li><a href="./services.html" title="">Services</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="/rsvp" title="">RSVP</a></li>

        </ul>
      </div>
    </nav>
  </header>
