  <header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <h5>#becomIngaLing</h5>
      </a>
    </div>

    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <h5>#becomIngaLing</h5>
          </a>
        </div>
        <ul class="nav">
          <li><a href="/" title="">Home</a></li>
          <li><a href="/rsvp" title="">RSVP</a></li>
          <li><a href="/photos" title="">Photos</a></li>

        </ul>
      </div>
    </nav>
  </header>
